.container{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    background:#F3B3A6;
    margin:0;
    color:#1F0812;
}

.todo-container{
    width:400px;
    padding:20px;
    border-radius:15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1)
}
